<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEU jaguaré</title>
        <link rel="stylesheet" href="aeróbicas.css">
    </head>
    <body>
        <hr>
        <div class="wrapper">
            <div class="card">
                <h2>Corrida</h2>
                <img decoding="async" src="imagens/corrida.jpg" alt="Corrida">
                <p>Prática corporal que envolve os principalmente os músculos das pernas.</p>
            </div>
            <button>Mais informações</button>
            <div class="card">
                <h2>Condicionamento físico</h2>
                <img decoding="async" src="imagens/condicionamento-físico.jpg" alt="Condicionamento físico">
                <p>Modalidade que alcança a melhora no funcionamento dos músculos e metabólico através do aprimoramento na força muscular, potência, resistência cardiovascular, resistência muscular e na flexibilidade.</p>
            </div>
            <button>Mais informações</button>
            <div class="card">
                <h2>Dança do ventre</h2>
                <img decoding="async" src="imagens/dança-do-ventre.jpg" alt="Dança do ventre">
                <p>A beleza e a sensualidade do corpo feminino são explorados durante a dança do ventre, uma atividade milenar que auxilia no autoconhecimento da mulher, trazendo benefícios para o corpor e a mente.</p>
            </div>
            <button>Mais informações</button>
        </div>
        <hr>
    </body>
</html>