<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEU jaguaré</title>
        <link rel="stylesheet" href="aquáticas.css">
    </head>
  <body>
    <hr>
        <div class="wrapper">
            <div class="card">
                <h2>Natação</h2>
                <img decoding="async" src="imagens/natação.jpg" alt="Natação">
                <p>Um dos exercícios mais completos por movimentar grande parte dos músculos e articulações do corpo, oferece nevefícios como liberação de tensões, resistência muscular, diminuição do estresse e colesterol, melhora a circulação sanguínea e funções pulmonares.</p>
            </div>
            <button>Mais informações</button>
            <div class="card">
                <h2>Polo aquático</h2>
                <img decoding="async" src="imagens/polo aquático.jpg" alt="Polo aquático">
                <p>Esporte aquático e aeróbico de confronto entre duas equipes. O Objetivo é fazer o maio número de gols para a sua equipe, semelhante ao handebol, porém na aguá.</p>
            </div>
            <button>Mais informações</button>
            <div class="card">
                <h2>Hidroginástica</h2>
                <img decoding="async" src="imagens/hidroginástica.jpg" alt="Hidroginástica">
                <p>Atividade aeróbica praticada dentro da piscina, podendo usar alguns equipamentos e acessórios para complementar a aula. Possui pouco impacto nas articulações e ajuda a fortalecer a musculatura.</p>
            </div>
            <button>Mais informações</button>
        </div>
    <hr>
 </body>
</html>