<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEU jaguaré</title>
        <link rel="stylesheet" href="bolas.css">
    </head>
    <body>
        <hr>
        <div class="wrapper">
            <div class="card">
                <h2>Futsal</h2>
                <img decoding="async" src="imagens/futsal.jpg" alt="Futsal">
                <p>O futsal, também chamado de futebol de salão, é um esporte coletivo semelhante ao futebol de campo, mas possui suas peculiaridades, por exemplo número reduzido de jogadores tempo de jogo.</p>
            </div>
            <button>Mais informações</button>
            <div class="card">
                <h2>Basquete</h2>
                <img decoding="async" src="imagens/Basquete.jpg" alt="Basquete">
                <p>O basquete é um esporte coletivo jogado por duas equipes, que têm o objetivo de fazer pontos ao acertar a bola na cesta do adversário, o alvo fixo na quadra.</p>
            </div>
            <button>Mais informações</button>
            <div class="card">
                <h2>Vôlei</h2>
                <img decoding="async" src="imagens/volei.jpg" alt="Vôlei">
                <p>É dinâmico que combina rapidez, força e estratégia, jogado por duas equipes que buscam pontuar ao fazer a bola tocar o chão na quadra adversária. Entre seus muitos benefícios, o voleibol promove excelente condicionamento físico, melhorando a capacidade cardiovascular, a força muscular, a agilidade e a coordenação motora.</p>
            </div>
            <button>Mais informações</button>
        </div>
        <hr>
 </body>
</html>