<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEU jaguaré</title>
        <link rel="stylesheet" href="força.css">
    </head>
    <body>
        <hr>
        <div class="wrapper">
            <div class="card">
                <h2>Treinamento funcional</h2>
                <img decoding="async" src="imagens/treinamento funcional.jpg" alt="Treinamento funcional">
                <p>O treinamento funcional é um método de atividade física realizada sem aparelhos da academia, que tem como objetivo melhorar a condição física imitando movimentos normais do dia a dia.</p>
            </div>
            <button>Mais informações</button>
            <div class="card">
                <h2>Treinamento de força</h2>
                <img decoding="async" src="imagens/treinamento de força.jpg" alt="Treinamento de força">
                <p>O treino de força ajuda a fortalecer os ossos, músculos e outros tecidos de suporte do corpo, incluindo a região lombar. Isso ajuda a manter a postura e o alinhamento ao longo do dia.</p>
            </div>
            <button>Mais informações</button>
        </div>
        <hr>
    </body>
</html>     