<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEU jaguaré</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div class="container-header">
                <img class="icon" src="imagens/icon ceu.png" alt="">
                <h1 class="titulo">CEU jaguaré - Professor Henrique Gamba</h1>
            </div>
            <div class="wrapper-header">
                <hr class="hr-header">
                <h2 class="info">Avenida Kenkiti Simonoto, 80 - jaguaré</h2>
                <h2 class="info">contatos: 11 3716-2152 / ceujaguare@sme.prefeitura.sp.gpv.br</h2>
                <hr>
            </div>
        </header>
        <main class="container-main">
            <div class="caixadetexto"><p class="texto">O CEU Prof. Henrique Gamba, localizado no bairro Jaguaré, zona oeste da capital paulista, é um equipamento público voltado à promoção da Educação, da Cultura e dos Esportes, numa perspectiva de afirmação cidadã e identitária.
                Trata-se de um amplo complexo contendo unidades educacionais (CEI, Emei, Emef, UniCEU e ETEC), além de biblioteca, teatro, Telecentro, quadras, piscinas e pista para caminhada e exercícios físicos.</p></div>
            <img class="imagemceu" src="imagens/ceu.jpg" alt="">
        </main>  
        <footer>
            <div class="wrapper-footer">     
                <h2 class="atividade">Atividades 2024</h2>
                <hr class="hr-footer">
            </div> 
            <div class="botao">
               <a href="aeróbicas.html"><button>Aeróbico</button></a>
              <a href="bolas.html"><button>Bolas</button></a>
              <a href="lutas.html"><button>Lutas</button></a>
            </div>
            <div class="botao2">
                <a href="aquáticas.html"><button>Aquático</button></a>
                <a href="força.html"><button>Força</button></a>
                <a href="tabuleiro.html"><button>Tabuleiro</button></a>
            </div>
        </footer>
    </body>
</html>
