<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEU jaguaré</title>
        <link rel="stylesheet" href="lutas.css">
    </head>
    <body>
        <hr>
        <div class="wrapper">
            <div class="card">
                <h2>Judô</h2>
                <img decoding="async" src="imagens/judo.jpg" alt="Judô">
                <p>Arte marcial de combate que permite que o praticante use a força e o equilíbrio do oponente a seu favor, com princípios como respeito, autodisciplina e desenvolvimento pessoal.</p>
            </div>
            <button>Mais informações</button>
            <div class="card">
                <h2>Capoeira</h2>
                <img decoding="async" src="imagens/capoeira.jpg" alt="Capoeira">
                <p>É um tipo de luta de grande expressividade para a cultura brasileira que tem como principais características a defesa pessoal.</p>
            </div>
            <button>Mais informações</button>
            <div class="card">
                <h2>Jiu-jitsu</h2>
                <img decoding="async" src="imagens/jiu jitsu.jpg" alt="Jiu-jitsu">
                <p>O jiu-jitsu é uma arte marcial de origem japonesa. Ela é voltada para o ataque e autodefesa corporais.Na prática do jiu jitsu se usa sempre a força e o peso do adversário contra ele.</p>
            </div>
            <button>Mais informações</button>
        </div>
        <hr>
    </body>
</html>