<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEU jaguaré</title>
        <link rel="stylesheet" href="tabuleiro.css">
    </head>
    <body>
        <hr>
        <div class="wrapper">
            <div class="card">
                <h2>Xadrez</h2>
                <img decoding="async" src="imagens/xadrez.jpg" alt="Xadrez">
                <p>É um jogo de tabuleiro, sendo também considerado como esporte. É disputado entre dois jogadores, utilizando-se de um tabuleiro e 16 peças, sendo representadas por peões, torres, cavalos, bispos, um rei e uma rainha. O objetivo é conquistar o rei de seu adversário.</p>
            </div>
            <button>Mais informações</button>
        </div>
        <hr>
    </body>
</html>